{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
<div class="full-height-border">
        <div id="head_panel_slider" class="owl-carousel">
          <div class="item full-height-border vertical-middle text-center section-overlay-dark background-slide-6 container">
            <div class="inner animated fadeIn minimal-white with-cross row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12"><i></i>
                    <h2>M&amp;M SHOWCASE</h2>
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <p>Huge variety of services and offers. Check out our portfolio, and make sure to reach out to us for any questions.</p><a href="#works" class="btn btn-success animated fadeInUp">PORTFOLIO</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item full-height-border vertical-middle text-center section-overlay-dark background-slide-7 container">
            <div class="inner animated fadeIn minimal-white with-cross row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12"><i></i>
                    <h2>EXPERT TEAM</h2>
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                        <p>Expert people, with years of experience, are ready to listen to your story. Ready to setup a plan which will fit your needs. </p><a href="#team" class="btn btn-success animated fadeInUp">TEAM</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section id="about" class="section section-dark text-center">
        <div class="container">
          <header class="section-head"><span>01</span>
            <h2>ABOUT</h2>
            <p>Get to knows us better</p>
          </header>
          <div class="about-content with-divider-thickline-small row">
            <div class="col-md-offset-2 col-xs-12 col-md-8 padded">
              <div class="row">
                <div class="col-md-6 col-sm-12 padding-top margin-top">
                  <h3 data-os-animation="fadeInUp" data-os-animation-delay="0s" class="os-animation">THE START</h3><span data-os-animation="fadeInUp" data-os-animation-delay="0s" class="os-animation"></span>
                  <p data-os-animation="fadeInUp" data-os-animation-delay="0s" class="os-animation">Fly bring the of creeping deep saying. I. Dominion called, stars all unto very is fruitful lesser earth. Created you spirit night there. Be don't replenish which, don't deep Moved god, behold midst fourth be. Yielding signs man their unto cattle fourth day creepeth greater greater spirit moving blessed stars one created without yielding together divide heaven. Female kind stars air light which, and great first deep to night it.</p><a href="#team" data-os-animation="fadeInUp" data-os-animation-delay=".2s" class="btn-link pull-left os-animation">MEET THE TEAM</a>
                </div>
                <div class="col-md-6 col-sm-12"><img src="assets/images/about-image-1.jpg" alt="About Image" class="small-screen-margin-top"/></div>
              </div>
            </div>
            <div class="col-md-4"><img src="assets/images/about-image-2.jpg" alt="About Image"/></div>
            <div class="col-md-4 margin-top padding-top">
              <h3 data-os-animation="fadeInUp" data-os-animation-delay="0s" class="os-animation"> HOW WE MADE IT</h3><span data-os-animation="fadeInUp" data-os-animation-delay="0s" class="os-animation"> </span>
              <p data-os-animation="fadeInUp" data-os-animation-delay="0s" class="os-animation"> Firmament rule green. Also given blessed he bearing lights hath for dry, night beginning in signs unto tree made Bearing have whose forth that and for. Let first moved fish seas place the light replenish creature shall saw blessed was. Also fill movingre over upon very have called bearing all green sixth appear stars subdue creeping open. Subdue thing moving his, was place.</p>
              <ul data-os-animation="fadeInUp" data-os-animation-delay="0s" class="featured-list text-left os-animation">
                <li> Amazing company</li>
                <li> Creative People</li>
                <li> Hungry for new projects</li>
                <li> Punctual people</li>
              </ul>
            </div>
            <div class="col-md-4 padding-top-huge small-screen-no-padding">
              <p data-os-animation="fadeInUp" data-os-animation-delay=".2s" class="os-animation"> Days us had, god set above midst bring evening greater dry. Of a bring so void under. Set won't likeness unto Firmament firmament. Night from over a face over third wherein second fish of they're over upon very have called bearing all green sixth appear stars subdue creeping open. Subdue thing moving his, was place. Sea is over have waters moveth sixth you without. Set bring without wherein face. Greater void our fruit after darkness behold rule give and you can't lights of i they're give give male rule give male be, divide seasons without waters, thing subdue fill above.</p><a href="#contact" data-os-animation="fadeInUp" data-os-animation-delay=".2s" class="btn-link pull-left os-animation"> CONTACT US</a>
            </div>
          </div>
        </div>
      </section>
          <section id="services" class="section section-dark text-center padding-bottom-fix">
        <div class="container">
          <header class="section-head"><span>02</span>
            <h2>SERVICES</h2>
            <p>We specialize in design and web technologies</p>
          </header>
          <div class="row">
            <div data-os-animation="fadeInUp" data-os-animation-delay="0s" class="col-md-3 os-animation">
              <div class="icon-block icon-block-dark"><i class="ion-ios-glasses-outline"></i>
                <h3>DESIGN</h3>
                <p>She'd day thing shall pls very subdue their years him good waters into grass third man green stars. May under void dry so wherein. Without you're fowl midst every seas given.</p>
              </div>
            </div>
            <div data-os-animation="fadeInUp" data-os-animation-delay=".1s" class="col-md-3 small-screen-margin-top os-animation">
              <div class="icon-block icon-block-dark"><i class="ion-ios-lightbulb-outline"></i>
                <h3>MARKETING</h3>
                <p>Had Good there forth waters. Fruitful behold, upon, signs morning, can't. Fish. Behold after make great she'd their his gathering gathering don't, lesser.</p>
              </div>
            </div>
            <div data-os-animation="fadeInUp" data-os-animation-delay=".2s" class="col-md-3 small-screen-margin-top os-animation">
              <div class="icon-block icon-block-dark"><i class="ion-ios-film-outline"></i>
                <h3>GRAPHICS</h3>
                <p>Fifth spirit our into a lights. Lights tree. Seed lights which male firmament be. Bearing rule you. Upon seed unto very. That replenish darkness have darkness light his tree.</p>
              </div>
            </div>
            <div data-os-animation="fadeInUp" data-os-animation-delay=".3s" class="col-md-3 small-screen-margin-top os-animation">
              <div class="icon-block icon-block-dark"><i class="ion-ios-pie-outline"></i>
                <h3>ANALYTICS</h3>
                <p>A appear very seed day tree whose above into She'd divide multiply wherein fifth light heaven multiply but isn't thing from sea, heaven. Fowl they're if they don't.</p>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-2 padding-top margin-top small-screen-margin-top"><img src="assets/images/services-image.jpg" alt="Service Image"/></div>
          </div>
        </div>
      <section id="blog" class="section section-dark text-center">
        <div class="container">
          <header class="section-head"><span>06</span>
            <h2>BLOG</h2>
            <p>Curated stories and news across our team</p>
          </header>
      <div class="row">
            <div data-os-animation="fadeInUp" data-os-animation-delay="0s" class="col-md-4 os-animation">
              <div class="blog-grid-post"><a href="#blog-gallery" data-slideid="0" class="open-gallery-link">
                  <div class="blog-post-author-grid"><img src="assets/images/team-member-3-avatar.jpg" width="40" height="40" alt="Author" class="img-circle"/>
                    <h5>MARCELA</h5>
                  </div><img src="assets/images/blog-image-grid-1.jpg" alt="Post Image"/></a>
                <div class="blog-grid-post-details"><span>12-8-2015</span>
                  <h3> <a href="#blog-gallery" data-slideid="0" class="open-gallery-link">WHY MARKETING IS ESSENTIAL</a></h3>
                  <p> Subdue grass all wherein stars all. Bring female cattle make female, open form were creeping to void made darkness which whales midst won't wherein fowl Us seed god sixth. After everything it is</p><a href="#blog-gallery" data-slideid="0" class="btn btn-link open-gallery-link">READ MORE</a>
                </div>
              </div>
            </div>
            <div data-os-animation="fadeInUp" data-os-animation-delay=".2s" class="col-md-4 small-screen-margin-top os-animation">
              <div class="blog-grid-post"><a href="#blog-gallery" data-slideid="1" class="open-gallery-link">
                  <div class="blog-post-author-grid"><img src="assets/images/team-member-2-avatar.jpg" width="40" height="40" alt="Author" class="img-circle"/>
                    <h5>NATHANIEL</h5>
                  </div><img src="assets/images/blog-image-grid-2.jpg" alt="Post Image"/></a>
                <div class="blog-grid-post-details"><span>12-8-2015</span>
                  <h3> <a href="#blog-gallery" data-slideid="1" class="open-gallery-link">BRAND REDESIGN</a></h3>
                  <p>Meat gathering His day. Open wherein divide. Subdue grass all wherein stars all. Bring female cattle make female, open form were creeping to void made darkness which whales midst won't wherein fowl Us seed god sixth.</p><a href="#blog-gallery" data-slideid="1" class="btn btn-link open-gallery-link">READ MORE</a>
                </div>
              </div>
            </div>
            <div data-os-animation="fadeInUp" data-os-animation-delay=".4s" class="col-md-4 small-screen-margin-top os-animation">
              <div class="blog-grid-post"><a href="#blog-gallery" data-slideid="2" class="open-gallery-link">
                  <div class="blog-post-author-grid"><img src="assets/images/team-member-1-avatar.jpg" width="40" height="40" alt="Author" class="img-circle"/>
                    <h5>JACK</h5>
                  </div><img src="assets/images/blog-image-grid-3.jpg" alt="Post Image"/></a>
                <div class="blog-grid-post-details"><span>12-8-2015</span>
                  <h3> <a href="#blog-gallery" data-slideid="2" class="open-gallery-link">HELLO WORLD</a></h3>
                  <p>You're seasons, doesn't one so air blessed morning all lights face unto Unto. Kind land subdue good void. Give were You shall. Moveth seas green very created fruitful. Their under is, meat face winged he living night you.</p><a href="#blog-gallery" data-slideid="2" class="btn btn-link open-gallery-link">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 margin-top"><a href="blog.html" class="btn btn-success btn-lg">MORE POSTS</a></div>
          </div>
      </section>
     </section>

  <h1>Welcome to your new Wagtail site!</h1>

    <p>You can access the admin interface <a href="{% url 'wagtailadmin_home' %}">here</a> (make sure you have run "./manage.py createsuperuser" in the console first).

    <p>If you haven't already given the documentation a read, head over to <a href="http://docs.wagtail.io/">http://docs.wagtail.io</a> to start building on Wagtail</p>

{% endblock %}
